<div class="row">
    <div class="col-lg-4 ms-auto"><p class="lead">Over 7 years of experience as a software developer working in the full stack and devops space.  Experience in the financial, industrial and commercial fields.  Well versed on Test Driven Development and Agile Principles  </p></div>
    <div class="col-lg-4 me-auto"><p class="lead">Experience with:</p>Backend<ul><li>Spring</li><li>NodeJs</li></ul> Frontend<ul><li>Bootstrap</li><li>Angular</li><li>Vue</li><li>JavaScript</li><li>CMS(Wordpress)</li></ul></div>
</div>